<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ЕКСПЕРТНА СИСТЕМА ВИБОРУ УДАРНОЇ УСТАНОВКИ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="styles/main.css" />
    <!-- end styles -->

    <!-- scripts -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script src="scripts/main.js"></script>
    <!-- endscripts -->
</head>

<body>
    <nav class="navbar is-white">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="images/logo.png" alt="DrumsExpert" height="38">
            </a>
            <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                    Здійснити пошук
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control">
                            <a class="bd-tw-button button" data-social-network="Twitter" data-social-action="tweet" data-social-target="http://localhost:8080"
                                target="_blank" href="https://twitter.com/intent/tweet?text=DrumsExpert&amp;hashtags=drumexpert&amp;url=http://localhost:8080&amp;">
                                <span class="icon">
                                    <i class="fab fa-twitter"></i>
                                </span>
                                <span>
                                    Tweet
                                </span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </nav>


    <div class="container">
        <div class="background"></div>
        
    </div>


</body>

</html>